<ion-content padding>
  <img src="assets/img/logo.png" class="loginlogo" />
  <form (ngSubmit)="loginbtn()">

   
    <ion-list>
      <p class="logintital">Engineer Login</p>

      <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label> 
        <ion-input type="text" placeholder="Employee Code" name="Username" [(ngModel)]="loginreg.username" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label><ion-icon ios="ios-mail" md="md-mail"></ion-icon></ion-label> 
        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginreg.password" required></ion-input>
      </ion-item>

    </ion-list>



    <button ion-button block class="btn" type="submit">Login</button>
    <label style="color:white;text-align: center;position: absolute;bottom: 65px;    left: 90px;
    top: 550px;
    right: 100px;
">Jyoti CNC Automation Ltd.</label>

  </form>
 
</ion-content>