page-changepassword {
    .headerlogo{ width:105px; float:left;}
    ion-title {padding: 0 90px 1px 10px !important;}
    ion-label{color:#aaaaaa; font-size: 13px;}
    .errorfield{color:#CC0606; font-size: 12px; text-align: right;}
    .scroll-content{  background:#23292e; }
    ion-input{color:#ffffff; border-bottom:1px solid #455058;}
    .btn{margin-top:15px;height: 50;width: 50;}
    ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#fff;    width: 100%;}
    ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important;}
    ion-item .item-inner{border-bottom:0px !important;}
    .backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
    .backStrip img {width:10px; float:left;}
    .backStrip span { float:left; margin-left:10px; color:#455058;}
    .backStrip .item-inner{border-bottom:0px !important;}
    .backStrip .label{ margin-top:0px !important;}
    .menuBtn{display:block !important;}
    .alert-head{ padding:0px !important;}
    .select {padding-left:10px; font-size:14px;}
    
    .item-select .label {display:none;}
    .header:after{width:0px !important;}
}
.myalert .alert-wrapper {
    background-color: rgba(255, 255, 255, 0.5)
    button{
        color: black !important;
    }
    .alert-message {
        color: black;
    }
    .alert-title{
        color: black;
        .headerlogo{ width:20px; float:left;}
    }
  } 
