<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="backStrip" (tap)="back()"> <span>Change Password</span>
  </ion-item>
  <form [formGroup]="pwdfrom" (ngSubmit)="pwdbtn()">
    <ion-item>
      <ion-input type="password" placeholder="Old Password" name="password" [(ngModel)]="user.oldPassword"
        formControlName="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="pwdfrom.controls.password.hasError('required') && pwdfrom.controls.password.touched">
      <p class="errorfield">Old Password required</p>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="New Password" name="password" [(ngModel)]="user.newPassword"
        formControlName="newpassword"></ion-input>
    </ion-item>
    <ion-item *ngIf="pwdfrom.controls.newpassword.hasError('required') && pwdfrom.controls.newpassword.touched">
      <p class="errorfield">New Password required</p>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Confirm password" name="password" [(ngModel)]="user.confirmPassword"
        formControlName="confirmpassword"></ion-input>
    </ion-item>
    <ion-item *ngIf="pwdfrom.controls.confirmpassword.hasError('required') && pwdfrom.controls.confirmpassword.touched">
      <p class="errorfield">Confirm password is required</p>
    </ion-item>
    <ion-item *ngIf="pwdfrom.controls.confirmpassword.hasError('pattern') && pwdfrom.controls.confirmpassword.touched">
        <p class="errorfield">Password Mismatch</p>
      </ion-item>
    <button ion-button block color="yellow" class="btn" type="submit">Change Password</button>
  </form>
</ion-content>