<!--
  Generated template for the AddDvrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Add DVR</span>
    </ion-item>
    </ion-list>
    <ion-row class="header-info">
        <ion-col col-4>
           #{{dvrDetails.iDvrId}}
        </ion-col>
        <ion-col>
            Created on: {{dvrDetails.dCreatedDate}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
            Department : Service
        </ion-col>

    </ion-row>
    <!-- <button ion-button block color="yellow" class="btn" (click)="onClickStartDVR()" >Start DVR/End DVR</button> -->
    <ion-grid *ngIf="dvrDetails.eRunningStatus == 'Start'">
    <button ion-button block color="yellow" class="btn" (click)="onClickPinLocation()" >Pin this Location</button>
    <button ion-button block color="yellow" class="btn" (click)="onClickAddTraveller()" >Add Co-Traveller</button>
    <button ion-button block color="yellow" class="btn" (click)="OnClickRemoveTraveller()" >Release Co-Traveller</button>
    <button ion-button block color="yellow" class="btn" (click)="getVehicleType()" >END DVR</button>
</ion-grid>
    <ion-row class="header-info">
        <ion-col>
            Date:
        </ion-col>
        <ion-col>
            {{dvrDetails.dCreatedDate}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
           DVR Status:
        </ion-col>
        <ion-col>
          {{dvrDetails.eRunningStatus}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
            Other Allowance
        </ion-col>
        <ion-col>
            {{dvrDetails.vFoodAllowance}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
            Distance
        </ion-col>
        <ion-col>
            {{dvrDetails.vKms}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
            Amount
        </ion-col>
        <ion-col>
           {{dvrDetails.vAmount}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
            Payment Status:
        </ion-col>
        <ion-col>
           {{dvrDetails.ePaymentStatus}}
        </ion-col>
    </ion-row>
    <ion-row class="header-info">
        <ion-col>
           Co-Travellers:
        </ion-col>
        <ion-col>
            {{strCoTraveller}}
        </ion-col>
    </ion-row>
    <ion-grid class="visit-details" *ngIf="arrVisit.length>0">
        Visit Details:
        <table *ngFor="let visit of arrVisit; let i = index;" class="leadlistrow">
            <tr style="border-bottom:1px solid #455058;">
            <td align="left" class="listindex">{{i+1}}</td>
            <td class="listcenter">
              <span class="leadnum">Created on: {{visit.dCreatedDate}}</span>
              <p style="color:#fff;font-size:11px;" *ngIf="visit.iVisitType=='137'">{{visit.iVisitTypeName}}</p>
              <p style="color:#fff;font-size:11px;" *ngIf="visit.iVisitType=='138'">{{visit.vPurpose}}</p>
              <p style="color:#fff;font-size:11px;" *ngIf="visit.iVisitType=='136'">{{visit.company}}</p>
              <!-- <h2 style="color:#fff;"> #{{dvr.iDvrId}}</h2>
              <h2 s>DVR STATUS : {{dvr.eRunningStatus}}</h2> -->

              <!-- <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">STATUS:</span> {{lead.status}}</p>

              <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">Customer name:</span> {{lead.company}}</p> -->

            </td>
            <td align="right" width="70" class="listend" *ngIf="dvrDetails.eRunningStatus == 'Start'" (click)="gotoVisitDetails(visit)" ><span>Edit</span> <ion-icon ios="ios-play" md="md-play"></ion-icon></td>
          </tr>
          </table>
    </ion-grid>

  </ion-content>
