<ion-header>

  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>

</ion-header>



<ion-content >
  <ion-list style="padding: 0 15px;">
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span style="color:#455058">Complain
        Detail - {{comlist.complain_number}}</span>
    </ion-item>

    <ion-item>
      <ion-label color="grey">Post on: <label style="color: white; text-align: right">{{comlist.date_time}}</label></ion-label>
    </ion-item>

    <ion-item>
      <p style="color: white;text-transform: uppercase;">{{comlist.problem_detail}}</p>
    </ion-item>

    <p style="border-bottom: 1px solid grey; padding: 0; margin: 10px 0;"></p>

    <table class="problem-detail-tab">

      <tr>
        <td width="160" style="color: #455058"> Customer Name </td>
        <td width="10" style="color: #455058">:</td>
        <td style="color: white">
         {{comlist.contact_person}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058"> Contact number </td>
        <td style="color: #455058">:</td>
        <td style="color: white">
         {{comlist.contact_number}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058">
          Company </td>
          <td style="color: #455058" >:</td>
          <td style="color: white">
          {{comlist.company}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058">Address
        </td>
        <td style="color: #455058">:</td>
        <td style="color: white">
          {{comlist.location}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058">
          Machine Model
        </td>
        <td style="color: #455058">:</td>
        <td style="color: white">
        {{comlist.product_name}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058"> Model Serial No </td>
        <td style="color: #455058">:</td>
        <td style="color: white">
          {{comlist.machine_serial_number}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058"> Machine Dispatched On </td>
        <td style="color: #455058">:</td>
        <td style="color: white">
         {{comlist.dispatch_date}}
        </td>
      </tr>

      <tr>
        <td style="color: #455058"> Problem Detail </td>
        <td style="color: #455058">:</td>
        <td style="color: white;text-transform: uppercase;">
        {{comlist.problem_detail}}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <p style="border-bottom: 1px solid grey;width: 100%;  padding: 0; margin:0 0 10px 0;"></p>
        </td>
      </tr>

      <tr>
        <td style="color: #455058">
          STATUS Overview </td>
          <td style="color: #455058">:</td>
        <td style="color: white; ">
          {{comlist.status}}
        </td>
      </tr>

    </table>

  
  
   

</ion-list>

  <ion-buttons style="padding: 0 15px;">
      <button ion-button block color="yellow" (click)="clickform(comlist)">Proceed For Service </button>
    </ion-buttons>
 

</ion-content>