<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>

<ion-content padding color="gray">
 <table class="home-menu">
   <tr>
     <td (tap)="selfcamplaint()">
        <img src="assets/img/register.png" >
        <p>Self Asigned Complaint Registration</p>
     </td>
     <td class="bg-grey" (tap)="camplaint()">
        <img src="assets/img/complain_sttus.png" >
        <p>Camplaints</p>
     </td>
   </tr>
   <tr>
     <td class="bg-grey" (tap)="addCustomer()">
        <img src="assets/img/earth.png" >
        <p>Product Manuals</p>
     </td>
     <td (tap)="editprofile()">
        <img src="assets/img/profile.png" >
        <p>Edit Profile</p>
     </td>
   </tr>
   <tr>
     <td (tap)="mangeDVR()">
        <img src="assets/img/location.png">
	      <p>Manage DVR</p>
     </td>
     <td class="bg-grey" (tap)="branch()">
        <img src="assets/img/branch_office.png"  >
	      <p>Branch Office</p>
     </td>
   </tr>
</table>
  

</ion-content>
