page-home {
  * { list-style:none; margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none; }

    table.home-menu { padding: 0; margin: 0; width: 100%;height: 100%; }
    table.home-menu tr td { background:#465059; padding: 30px 10px; text-align: center; vertical-align: middle; font-size:14px;line-height:16px; color: #fff; width: 50%; }
    table.home-menu tr td.bg-grey { background:#24292f; }
    table.home-menu tr td img { width: 40px; margin-bottom: 20px; }
    table.home-menu tr td p { padding: 0; margin: 0; }
  
 .scroll-content{ padding:0px !important; background: #24292f; }
 .grid{ padding:0px;}
 .headerlogo{ width:105px; float:left;}
 ion-title {padding: 0 90px 1px 10px !important;}
 
 .header:after{width:0px !important}
 
 
 
 
 }
 