page-dvr {
    .headerlogo{ width:105px; float:left;}
    ion-title {padding: 0 90px 1px 10px !important;}
    .scroll-content{ background:#23292e;}
    ion-input{color:#ffffff; border-bottom:1px solid #455058;}
    .btn{margin-top:15px;}
    ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#ccc;    width: 100%;}
    ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:34px !important;}
    ion-item .item-inner{border-bottom:0px !important;}
    .backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
    .backStrip img {width:10px; float:left;}
    .backStrip span { float:left; margin-left:10px; color:#455058;}
    .backStrip .item-inner{border-bottom:0px !important;}
    .backStrip .label{ margin-top:0px !important;}
    .menuBtn{display:block !important;}
    .alert-head{ padding:0px !important;}
    .customerDtlBox{ border-top:3px solid #455058; padding-top:20px; margin-top:30px;}
    .select {padding-left:10px; font-size:14px;}
    .customerDtlBox ion-item span{ float:left;color:#455058;}
    .customerDtlBox ion-item p{ float:left; color:#455058; font-weight:bold; margin-top:3px; margin-left:2px;}
    .label{    margin: 8px 0px 8px 0;}
    .header:after{width:0px !important}
    .has-refresher > .scroll-content{
      border-top:1px solid transparent;
    }
    .refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
      stroke : white;
   }
   ion-app.md{
     padding: 0;
   }
    .listindex{color:#fff;}
   
    .listcenter .leadnum{width:100%; color:#455058; font-size:10px;display: inline-block;  }
    .listcenter .leaddate{width:50%; float: right; color:#455058; font-size:10px;display: inline-block;   }
    .listcenter h2{width:100%; text-transform: uppercase;float:left;color:#455058; margin:8px 0px; font-size:14px; white-space:normal;}
    .listcenter p{width:100%; float:left;color:#455058;font-size:10px;}
    .listend{ color:#455058; font-size:12px; }
    .listend ion-icon{ color:#94999c; font-size:10px; margin-left:5px;}
    
    
    table.leadlistrow tr td { padding:10px; vertical-align: top; }
    table.leadlistrow tr td p { padding: 0; margin: 0; }
    
    }
    ion-loading.transparent {
        .loading-wrapper {
          background: transparent;
          box-shadow: none;
      
          .spinner-crescent circle {
            stroke-width: 8px;
          }
        }
        }