<!--
  Generated template for the DvrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Manage DVR</span>
    </ion-item>
    </ion-list>
    <button ion-button block color="yellow" class="btn" (click)="onClickAdd()" >ADD DVR</button>

    <ion-content style="background:transparent;height: 25px;">

        <ion-refresher style="background:transparent" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content style="background:transparent">
        </ion-refresher-content>
     </ion-refresher>
    </ion-content>

    <table *ngFor="let dvr of arrDvr; let i = index;" class="leadlistrow" (click)="getDvrDetails(dvr.iDvrId)">
      <tr style="border-bottom:1px solid #455058;">
      <td align="left" class="listindex">{{i+1}}</td>
      <td class="listcenter">
        <span class="leadnum">Created on: {{dvr.dCreatedDate}}</span>
        <h2 style="color:#fff;"> #{{dvr.iDvrId}}</h2>
        <h3 style="color:#fff;    margin-bottom: 0;font-size:1.3rem"> {{dvr.vKms}} Km Amount:{{dvr.vAmount}}</h3>
        <h2>DVR STATUS : {{dvr.eRunningStatus}}</h2>

        <!-- <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">STATUS:</span> {{lead.status}}</p>

        <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">Customer name:</span> {{lead.company}}</p> -->

      </td>
      <td align="right" width="70" class="listend"><span>view</span> <ion-icon ios="ios-play" md="md-play"></ion-icon></td>
    </tr>
    </table>

    </ion-content>
