<ion-header>

  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Product Manuals</span>
    </ion-item>

    <table>
    <tr *ngFor="let items of response; let i = index;">
      <td width="20" style="color:#455058;">{{i+1}}</td>
      <td  width="60"> <img src="assets/img/ic_pdf.png" /></td>
      <td style="color:white">
        {{items.name}}
      </td>
      <td width="40"> <img src="assets/img/ic_download.png" (click)="pdfdetail(items)" /></td>
  
  </tr>
</table>
  </ion-list>
</ion-content>


