page-productmanuals {
    .headerlogo{ width:105px; float:left;}
    ion-title {padding: 0 90px 1px 10px !important;}
    .scroll-content{ background:#23292e;padding: 0 15px;}
    ion-input{color:#ffffff; border-bottom:1px solid #455058;}
    .btn{margin-top:15px;}
    ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#ccc;    width: 100%;}
    ion-item{    padding: 0;    background-color: transparent !important; width: 100%;}
    ion-item .item-inner{border-bottom:0px !important;}
    .backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
    .backStrip img {width:10px; float:left;}
    .backStrip span { float:left; margin-left:10px; color:#455058;}
    .backStrip .item-inner{border-bottom:0px !important;}
  
  
  
  table{
    table-layout: fixed;
    width: 100%;  
  }
   td, th {  
  
   
    text-align: left;
    white-space: normal; position: relative;
    
  border: 0 transparent;
  }
  
  
  .item-md{padding: 0;}
    .menuBtn{display:block !important;}
    .alert-head{ padding:0px !important;}
    .header:after{width:0px !important}
      
   
    .myalert .alert-wrapper {
        background-color: rgba(255, 255, 255, 0.5)
      button{
          color: black !important;
      }
      .alert-message {
          color: black;
      }
      .alert-title{
          color: black;
          .headerlogo{ width:20px; float:left;}
      }
    }
}
