<ion-header>
  <button style="float:left; width:10%;" ion-button clear left class="menuBtn" (click)="back()">
    <ion-icon name="arrow-back" style="margin-top:11px;" color="dark"></ion-icon>
  </button>
  <ion-searchbar style="float:left; width:86%;" placeholder="Compalint No. - Customer Name" showCancelButton="true" (ionInput)="getItems($event)"
    (ionCancel)="clearItems($event)" autocomplete="on" *ngIf="type=='complain'"></ion-searchbar>
    <ion-searchbar style="float:left; width:86%;" placeholder="Comapny" showCancelButton="true" (ionInput)="getItems($event)"
    (ionCancel)="clearItems($event)" autocomplete="on" *ngIf="type!='complain'"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-list>


    <ion-item *ngFor="let item of companylists" (click)="selectedItem(item)">
      <ion-label>{{item.company}}</ion-label>
    </ion-item>
    <ion-item *ngIf="companylists?.length ==0">
      <h2>no matched items</h2>
    </ion-item>
  </ion-list>
</ion-content>