page-update-location {
    .ionic-selectable{
        max-width: 100%;
    }
    .select-search{

        .input-company{
            font-size: 13px;
        }
    }

    width: 300px !important;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px !important;
    align-items: center;
    top:100px;
    .header{
        .toolbar-background{
        background-color: #23292e;

        }
    }
    .content-md{
        background-color: #23292e;

    }
    .toolbar-title{
        color:white;
    } .btn-cancel{
        background-color: #a7abb1 !important;
    }
    .item-select{
        background: transparent;
    color: white;
    ion-select{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    }
    .btn-bottom{
        position: absolute;
        bottom: 0;
        width: 90%;
    }
}
