<!--
  Generated template for the UpdateLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Visit Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
        <ion-label style="margin-left: 15px;    margin-bottom: 0;color: white">Select Location Type</ion-label>
  <ion-item class="item-select">
        <ion-label >Select Location Type</ion-label>
    <ion-select [(ngModel)]="selectedVisit" >
      <ion-option *ngFor="let visit of arrVisitType" value="{{visit.id}}">{{visit.status}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="item-select select-search" *ngIf="selectedVisit=='136'">
    <!-- <ion-select [(ngModel)]="selectedCustomerId">
      <ion-option *ngFor="let cust of arrCustomer" value="{{cust.id}}">{{cust.company}}</ion-option>
    </ion-select> -->
    <ion-input class="input-company" placeholder="Compalint No. - Customer Name" type="text" (tap)="selectGotram()" readonly [(ngModel)]="selectedCustomerText"></ion-input>

    <!-- <ion-label>Port</ion-label>
    <ionic-selectable
    item-content
    [(ngModel)]="selectedCustomerId"
    [items]="arrCustomer"
    itemValueField="id"
    itemTextField="company"
    [canSearch]="true">
  </ionic-selectable> -->
  </ion-item>
  <ion-item class="item-select" *ngIf="selectedVisit=='138'">
    <ion-input type="text" placeholder="Purpose" [(ngModel)]="Purpose"></ion-input>
  </ion-item>

  <ion-row class="btn-bottom">
    <ion-col>
      <button ion-button block  class="btn btn-cancel"  (click)="dismissView()" >Cancel</button>
    </ion-col>
    <ion-col>
      <button ion-button block  class="btn" color="yellow" (click)="onClickSave()" >Save</button>
    </ion-col>
  </ion-row>
</ion-content>
