page-complainpicx {
  .headerlogo{ width:105px; float:left;}
  ion-title {padding: 0 90px 1px 10px !important;}
  .scroll-content{ background:#23292e;padding: 0;margin: 0;}
  ion-input{color:#ffffff; border-bottom:1px solid #455058;}
  ion-label{color:#455058; font-size: 13px; padding-bottom: 0px; margin-bottom: 0px !important;}
 
.label-md{
margin: 0;
}
  .errorfield{ 
   width: auto;
    height:auto;
    background-color: #383838;
    color: rgb(255, 0, 0);
    font-family: Calibri;
    border-radius: 10px;
    font-size: 20px;
    padding:10px;
    margin-bottom: 3%;
    margin-top: 2%;
    top: 2%;
    text-align:center;
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);}
  .btn{color: rgb(255, 255, 255); position: absolute;bottom: 0px; height: 100;
    width: 100%;left: 0; right: 0px; margin-right: 0px; margin-left: 0px;
     border: 1px;border-radius: 10px;margin: 0; float: left;}
  ion-card-content {
      background-color: #959595;
      border-radius: 10px;
      border: 1px solid;
      height: 200px;
      
       height: 100;
    width: 100%;margin-right: 0px; margin-left: 0px;
     border: 1px;border-radius: 10px; float: left;
     
    }
    .card{
      background-color: #959595;
      border-radius: 10px;
      
      border: 1px solid;
      height: 200px;
    position: relative;
    width: 100%; margin-right: 0px; margin-left: 0px;
    margin: 0; float: left;
  }
  .item-md { margin-bottom: 15px; }
  .item-md.backStrip { margin-bottom:0; }
  img {
    border-radius: 5px;
  }
  ion-slide {
    width: 100%;
    background-color: white;
    border-radius: 5px;
      border: 1px solid;
      margin: 3px ;
      padding: 2px 2px 2px 2px;
      margin-bottom: 3%;
   
  }
  ion-slide ion-icon {
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
color: #faa61a;
    position: absolute;
    right: -24%;
   top: -23%;
}
  .cmp{color:#fff; border-radius: 0px 0px 10px 10px;margin-left: 0px;height: 30px;width: 100%;
    border: 1px ; text-align:center; font-size:17px; min-height: 0px; margin-top: -4px; padding: 5px; }

  .textbox {
      background-color: #959595;
      border-radius: 10px 10px 0px 0px;margin-left: 0px;height: 100;width: 100%;
      border: 1px ; font-size:17px; min-height: 0px;   padding: 5px;
    }
    textarea.text-input {
   
      color: #fff;
   
      }
      .select {
          font-family: SFNSDisplay;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: 0.1px;
          color: #fff;
          width: 100% !important;
          max-width: 100% !important;
          justify-content: center;
        
          background-color: #6D5C3F;
          text-align: center;
          border-radius: 6px;
         
        }
      .selector {
          font-family: SFNSDisplay;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: 0.1px;
          color: #fff;
          width: 100% !important;
          max-width: 100% !important;
          justify-content: center;
    
          background-color: #6D5C3F;
          text-align: center;
          border-radius: 6px;
          
        }
        .option {
          font-family: SFNSDisplay;
          font-size: 8px;
          line-height: 1.2;
          letter-spacing: 0.1px;
          color: #fff;
          width: 100% !important;
          max-width: 100% !important;
          justify-content: center;
          height: 20px;
        }
      
        ion-option .list{
          font-family: SFNSDisplay;
          font-size: 8px !important;
          max-width: 100% !important;
        }
        .ion-option-items .item{
          font-family: SFNSDisplay;
          font-size: 8px !important;
          max-width: 100% !important;
        }
       .select-popover {
          font-family: SFNSDisplay !important;
          font-size: 8px !important;
          max-width: 100% !important;
        }
       
        .savebtn{
          width: 100%;
          padding: 0%;
        }
.endvisitbtn{
width: 42% !important;
position: absolute; 
float: left;
margin: 50% !important;
margin-top: 0% !important;

}
  
  ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:60px !important;margin: 0;width: 100%;}
  ion-item .item-inner{border-bottom:0px !important;padding: 0;}
  .backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
  .backStrip img {width:10px; float:left;}
  .backStrip span { float:left; margin-left:10px; color:#fff;}
  .backStrip .item-inner{border-bottom:0px !important;padding: 0;}
  .backStrip .label{ margin-top:0px !important;}
  .menuBtn{display:block !important;}
  .item-md.item-block .item-inner { padding: 0 15px; } 
  .clear { clear: both; width: 100%; }
  .backStrip ion-label { overflow: inherit; }
}
