<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item class="backStrip" (tap)="back()"><img src="assets/img/back_arrow.png" /> <span style="color:#455058" (tap)="back()">Complaint
        detail-{{Datalist.complain_number}}</span>
    </ion-item>
    <div class="clear"></div>
    <form [formGroup]="Myform" (ngSubmit)="MyformSubmit()" style="margin:0;padding:0;width:100%;">


      <ion-item>
        <ion-card>
          <ion-card-content>

            <input type="hidden" formControlName="image">
            <img *ngIf="image" [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

            <button ion-button class="btn" type="button" icon-right style="background-color:#6D5C40" (click)="onTakePicture()">
              Take Photo of Serial No. <ion-icon name="camera"></ion-icon>
            </button>

          </ion-card-content>
        </ion-card>

      </ion-item>
      <div style="padding:0 15px" *ngIf="Myform.controls.image.hasError('required') && Myform.controls.image.touched">
        <div class="errorfield">Please Take a Serial Image No.</div>
      </div>
      <ion-item>
        <ion-card>
          <ion-card-content>
            <input type="hidden" formControlName="image1">
            <img *ngIf="image1" [src]="domSanitizer.bypassSecurityTrustUrl(image1)" />

            <button ion-button class="btn" type="button" icon-right style="background-color:#6D5C40" (click)="onTakePictures1()">
              Take Photo of Machine <ion-icon name="camera"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>

      </ion-item>
      <div style="padding:0 15px" *ngIf="Myform.controls.image1.hasError('required') && Myform.controls.image1.touched">
        <div class="errorfield">Please Take of Machine No.</div>
      </div>
      <ion-item>
        <ion-card>
          <ion-card-content>
            <input type="hidden" formControlName="image2">
            <img *ngIf="image2" [src]="domSanitizer.bypassSecurityTrustUrl(image2)" />
            <button ion-button class="btn" type="button" icon-right style="background-color:#6D5C40" (click)="onTakePictures2()">
              Take Additional Photos <ion-icon name="camera"></ion-icon>
            </button>

          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-slides [slidesPerView]="3">
        <ion-slide *ngFor="let item of pixslct">
          <ion-icon name="close-circle" style="zoom:1.5;" (click)="removeimage(item)"></ion-icon>
          <img [src]="domSanitizer.bypassSecurityTrustUrl(item.machine_photo_url)" alt="" />
        </ion-slide>
      </ion-slides>


      <ion-item>
        <textarea class="textbox" style="color:white" [(ngModel)]="Datalist.make_remark" formControlName="textbox" rows="3"
          cols="34">{{Datalist.make_remark}} </textarea>
        <p class="cmp" style="background-color:#6D5C40">Mark Remark</p>

      </ion-item>

     
        <ion-label style="color: honeydew;padding: 0 15px;">Material Required</ion-label>
    
      <ion-item>
        <ion-label>Material Required</ion-label>
        <ion-select class="selector" placeholder="Material Required" [(ngModel)]="cmpid.eMaterialReq" (ionChange)="emrChange($event)"  formControlName="eMaterialReq">
          <ion-option class="option" value="no">No</ion-option>
          <ion-option class="option" value="yes">Yes</ion-option>
        </ion-select>
      </ion-item>
    
        <ion-label style="color: honeydew;padding: 0 15px;">Complaint Status</ion-label>
      
      <ion-item>
        <ion-label>Complaint Status</ion-label>
        <ion-select class="select" placeholder="Complaint Status" [(ngModel)]="cmpid.status" (ionSelect)="radio_select(cmpid.status)" (ionChange)="onChange($event)" formControlName="status">
          <ion-option class="option"  value="1">Open</ion-option>
          <ion-option class="option"  value="3">Under Observation</ion-option>
        </ion-select>
      </ion-item>
      <ion-list radio-group formControlName="complaintOpenOption" [(ngModel)]="cmpid.complaintOpenOption">
        <ion-item [hidden]="cgt || noncgt" style="margin-bottom:-15px;">
          <ion-label style="color:white;">Pending Material</ion-label>
          <ion-radio color="yellow" value="17" [hidden]="cgt || noncgt"></ion-radio>
        </ion-item>
        <ion-item [hidden]="cgt || noncgt" style="margin-bottom:-15px;">
          <ion-label style="color:white;" >Customer Confirmation Pending</ion-label>
          <ion-radio color="yellow" value="18" [hidden]="cgt || noncgt"></ion-radio>
        </ion-item>
        <ion-item [hidden]="cgt || noncgt" style="margin-bottom:-15px;">
          <ion-label style="color:white;">Sub Assembly Repairing</ion-label>
          <ion-radio color="yellow" value="19" [hidden]="cgt || noncgt"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item [hidden]="btndtl" *ngFor="let item of currentDate; let i = index;">
        <label style="color:white">{{i+1}}. Start Visit:{{item.dVisitStartDate}}</label>
        <br>
        <label style="color:white;margin: 17px !important">End Visit:{{item.dVisitEndDate}}</label>
      </ion-item>

      <div style="padding:0 15px">
        <input type="hidden">
        <button ion-button type="button" class="endvisitbtn" style="background-color:#6D5C40" [hidden]="button" (click)="onTakePictures3()">
          End Visit
        </button>
      </div>
      <div style="padding:0 15px">
        <button ion-button block class="savebtn" id="button" color="yellow" type="submit">Save</button>
      </div>

    </form>

  </ion-list>

</ion-content>