<!--
  Generated template for the CamplaintregPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Self Asigned Complaint
        Registration</span>
    </ion-item>

    <form [formGroup]="Myform" (ngSubmit)="MyformSubmit()">



      <span style="color:#fff; display: block; padding:0 0 10px 8px; border-bottom:1px solid #455058;">{{currentDate}}</span>

      <ion-input placeholder="Company Name" type="text" (tap)="selectGotram()" readonly [(ngModel)]="comapnyslct"
        (ionChange)="companyChange($event)" formControlName="comapnyname"></ion-input>


      <ion-item *ngIf="Myform.controls.comapnyname.hasError('required') && Myform.controls.comapnyname.touched">
        <p class="errorfield">Company Name is required!</p>
      </ion-item>


      <ion-input placeholder="Address" type="text" [(ngModel)]="customerObj.address" formControlName="address">{{customerObj.address}}</ion-input>


      <ion-item *ngIf="Myform.controls.address.hasError('required') && Myform.controls.address.touched">
        <p class="errorfield">Address is required!</p>
      </ion-item>


      <ion-input placeholder="Complain Subject" type="text" (tap)="selectlist()" readonly [(ngModel)]="dropdownslct"
        formControlName="dropdownlist"></ion-input>


      <ion-item *ngIf="Myform.controls.dropdownlist.hasError('required') && Myform.controls.dropdownlist.touched">
        <p class="errorfield">Complain Subject is required!</p>
      </ion-item>

      <ion-input placeholder="Description" type="text" formControlName="dtl"></ion-input>


      <ion-item *ngIf="Myform.controls.dtl.hasError('required') && Myform.controls.dtl.touched">
        <p class="errorfield">Description is required!</p>
      </ion-item>

      <ion-input placeholder="Machine Model" type="text" (tap)="selectmachine()" readonly [(ngModel)]="machinemodelslct"
        formControlName="machinemodelslct"></ion-input>


      <ion-item *ngIf="Myform.controls.machinemodelslct.hasError('required') && Myform.controls.machinemodelslct.touched">
        <p class="errorfield">Machine Model is required!</p>
      </ion-item>

      <ion-input placeholder="Machine Serial Number" readonly [(ngModel)]="data3" formControlName="data3">{{data3.machine_serial_number}}</ion-input>

      <ion-input placeholder="Warranty Status" readonly [(ngModel)]="data2" formControlName="data2">{{data2.uw_ow_amc}}</ion-input>


      <ion-input placeholder="Contact Person" type="text" [(ngModel)]="customerObj.contact_person" formControlName="contact_person">{{customerObj.contact_person}}</ion-input>


      <ion-item *ngIf="Myform.controls.contact_person.hasError('required') && Myform.controls.contact_person.touched">
        <p class="errorfield">Contact Person is required!</p>
      </ion-item>

      <ion-input placeholder="Contect Number" type="text" [(ngModel)]="customerObj.tel" formControlName="tel">{{customerObj.tel}}</ion-input>


      <ion-item *ngIf="Myform.controls.tel.hasError('required') && Myform.controls.tel.touched">
        <p class="errorfield">Contact Number is required!</p>
      </ion-item>

      <ion-input placeholder="Dispatch Date" readonly [(ngModel)]="data4" formControlName="data4">{{data4.dispatch_date}}</ion-input>

      <button ion-button block color="yellow" class="btn" type="submit">Register Complaint</button>

    </form>


  </ion-list>

</ion-content>