<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Complaints</span>
    </ion-item>
    <form (ngSubmit)="Searchbtn()">
      <ion-item>
        <ion-input type="text" placeholder="Search" name="Search" [(ngModel)]="selectedValue.KeyWord" required></ion-input>
        <button ion-button clear item-right style="color:orange">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-item>
    </form>

    <ion-item>
      <ion-label>Complain Status</ion-label>
      <ion-select [(ngModel)]="selectedValue.id" interface="popover">
        <ion-option #1 (ionSelect)="radio_select('cgt')" value="1">Open</ion-option>
        <ion-option (ionSelect)="radio_select('noncgt')" value="2">Close</ion-option>
      </ion-select>
    </ion-item>
  
  <ion-content style="background:transparent;">
      
    <ion-refresher style="background:transparent" (ionRefresh)="doRefresh($event);">
    <ion-refresher-content style="background:transparent">
    </ion-refresher-content>
 </ion-refresher>
</ion-content>


    <table *ngFor="let lead of comlist; let i = index;" class="leadlistrow" (click)="cmpdetail(lead)">
      <tr style="border-bottom:1px solid #455058;">
      <td align="left" class="listindex">{{i+1}}</td>
      <td class="listcenter">
        <span class="leadnum">{{lead.complain_number}}</span>
        <span class="leaddate">{{lead.date_time}}</span>
        <h2 style="color:#fff;">{{lead.problem_detail}}</h2>
       
        <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">STATUS:</span> {{lead.status}}</p>
      
        <p style="color:#fff;font-size:11px;"><span style="color:#455058;font-size:11px;">Customer name:</span> {{lead.company}}</p>

      </td>
      <td align="right" width="70" class="listend"><span>view</span> <ion-icon ios="ios-play" md="md-play"></ion-icon></td>
    </tr>
    </table>
  </ion-list>

</ion-content>