<!--
  Generated template for the InfopopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>End DVR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="item-select ">
    <ion-select [(ngModel)]="vehicleType"(ionChange) ="changeinterbranch()" >
      <ion-option *ngFor="let vehicle of arrVehicleType" value="{{vehicle.id}}">{{vehicle.status}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="item-select" *ngIf="vehicleType=='91'">
    <ion-select [(ngModel)]="FuelType">
      <ion-option *ngFor="let fuel of arrFuel" value="{{fuel.id}}">{{fuel.status}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="item-select">
    <ion-input type="text" placeholder="Other allowance" [(ngModel)]="allowance"></ion-input>
  </ion-item>
  <ion-item class="item-select" *ngIf="vehicleType=='92'">
    <ion-input type="text" placeholder="Amount" [(ngModel)]="amount"></ion-input>
  </ion-item>
  <ion-row class="btn-bottom">
    <ion-col>
      <button ion-button block  class="btn btn-cancel"  (click)="dismissView()" >Cancel</button>
    </ion-col>
    <ion-col>
      <button ion-button block  class="btn" color="yellow" (click)="onClickSave()" >Save</button>
    </ion-col>
  </ion-row>
</ion-content>
